body {
    background-color:#d0e4fe;
}

h1, h2, h3 {
	color:orange;
	text-align:center;
}

p {
	font-size:20px;
}

p, a {
	font-family:"Consolas";
}

a {
	color:white;
}

table {
	text-align:center;
}

a:link {
	color:white;
	background-color:#98bf21;
	width:100px;
	text-align:center;
	padding:2px;
	text-decoration:none;
}

a:hover, a:active {
	background-color:Blue;
	text-decoration:underline;
}

.header {
}

.main {
	padding-bottom:100px;
	text-align: center;
}/* warning:main的padding-bottom值要等于或大于footer的height值 */

.footer {
	position: absolute;
	bottom:0;
	width:100%;
	height:100px;
	text-align: center;
}
