body {
    background-color:#d0e4fe;
}

h1 {
	color:orange;
	text-align:center;
}

p {
	font-family:"楷体";
	font-size:20px;
}

a:visited {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}
